:root{
  --color-1: brown;
  --color-2: ...;
}

/* ========== MAIN ========== */
body{
  background-image:url("../img/yellow_bird.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  border: 5px white solid;
  background-attachment: fixed;

  background-color: #ffffff;
  color:whitesmoke;

  font-family: serif, Verdana, Geneva, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

.clr{
  clear:both;
}

#main-footer{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;

  border: 4px solid white;
  background-color:#FFEB37;
  box-sizing: border-box;

  text-align: center;
  font-family: Verdana;
  font-size: 12px;
  color: #AE9F14;
}

/* ========== CONTENT ========== */
#container-index{
  position:relative;
  top: 40px;
  width: 60%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.box{
  border:5px #FFEB37 solid;
  background-color: #ffeb3760;

  box-sizing: border-box;
  padding: 5px;
  margin: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ========== APPEARANCE ========== */

.square{
  width:200px;
  height:200px;
  border-radius: 0px;
}

.circle{
  width:200px;
  height:200px;
  border-radius: 100px;
}

/* ========== LINKS ========== */
a{
  text-decoration: none;
  color: #AE9F14;
}

a:hover{
  color: black;
}

a:active{
  color:white;
}

a:visited{
  color:white;
}

/* ========== CODE ========== */
code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

/* ========== MEDIA ========== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



/* ========== NOT USED ==========*/
.parrot-green{
  border-color: #131c1f;
  background-color: #131c1f80;
}

/* Rainbow */
.red{
  border-color:#ff0000;
  background-color: #ff000080;
}

.orange{
  border-color:#ff8000;
  background-color: #ff800080;
}

.yellow{
  border-color:#ffff00;
  background-color: #ffff0080;
}

.chartreuse{
  border-color:#80ff00;
  background-color: #80ff0080;
}

/* Astronaut */
.amethyst{
  border-color:#9E94AC;
  background-color: #9e94ac80;
}

.astronaut{
  border-color:#294E76;
  background-color:#294E7680;
}

.voodoo{
  border-color:#5E3B6A;
  background-color:#5E3B6A80;
}