/* ========== MAIN ========== */
body{
  background-image:url("../images/parrot.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #171717;
  color:whitesmoke;
  font-family: Verdana, Geneva, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

.clr{
  clear:both;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

#main-header{
  text-align: center;
  border: 4mm ridge white;
}

#main-footer{
  position:fixed;
  bottom:0px;
  width:100%;
  vertical-align: middle;
  text-align: center;
  border: 4mm ridge white;
  box-sizing: border-box;
}

/* ========== CONTENT ========== */
.box{
  position:relative;
  border-width:5px;
  border-style:solid;
  box-sizing: border-box;
  padding: 5px 40px;
  margin: 20px 10%;
}

.box h1{
  text-align:center;
}

.amethyst{
  border-color:#9E94AC;
  background-color: #9e94ac80;
}

.astronaut{
  border-color:#294E76;
  background-color:#294E7680;
}

.voodoo{
  border-color:#5E3B6A;
  background-color:#5E3B6A80;
}


/* ========== LINKS ========== */
a{
  text-decoration: none;
  color:#000000;
}

a:hover{
  color:red;
}

a:active{
  color:green;
}

a:visited{
  color:#000000;
}

/* ========== CODE ========== */
code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}