/* ========== MAIN ========== */
body{
  background-color:#171717;
  color:white;

  font-family: Verdana, Geneva, sans-serif;
  font-size:16px;
  font-weight:normal;

  line-height:1.6em;
}

.clr{
  clear:both;
}

.container {
  width:80%;
  margin:auto;
  background-image:url("../images/parrot.jpg");
  background-size:cover;
}

/* ========== BOXES ========== */
.box{
  position:relative;
  border-width:5px;
  border-style:solid;
  padding: 5px 40px;
  margin: 20px 0;
}
/*
.box h1{
  position:relative;
  text-align:middle;
}
*/
.amethyst{
  border-color:#9E94AC;
}

.astronaut{
  border-color:#294E76;
}

.voodoo{
  border-color:#5E3B6A;
}


/* ========== LINKS ========== */
a{
  text-decoration: none;
  color:#000000;
}

a:hover{
  color:red;
}

a:active{
  color:green;
}

a:visited{
  color:#000000;
}

/* ========== CODE ========== */
code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}